deity_{{deity}} = {
	trigger = {
		polytheistic_check_religion_trigger = yes
		OR = {
			common_deity_trigger = {
				RELIGION = {{religion}}
			}
			deity:omen_{{deity}} = {
				holy_site_deity_check_trigger = yes
			}
		}
	}
	icon = deity_{% if category == 'war'%}war{% elif category == 'economy' %}wealth{% elif category == 'culture' %}eloquence{% elif category == 'fertility' %}love{% endif %}
	passive_modifier = { {{passive}} }
	omen = { {{omen}} } #Bonus from Omen
	religion = {{religion}}
	deity_category = {{category}} #This Deity uses a War slot.

	deification_trigger = {
		can_deify_trigger = yes
	}

	on_activate = {
		{{effect}}
	}
}

